
body{

    margin-inline:6rem ;

}

.product-box-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.product-box{

    margin-top: 4rem;
    margin-inline: 0rem;
    width: 220px;
    height: 220px;
    padding: 1rem;

}

.product-box img{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;


}k

.product-box h4{

    margin-top: 1rem;

}

.product-photo{

    width: 150px;
    padding: 2rem;
    background-color: #f4f4f4;


}